*{
    margin: 0;
    box-sizing: 0;
    letter-spacing: 0.5px;
}

body {
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    height: 100%;
}

.card {
    background-color: hsl(216, 50%, 16%);
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    width: 15em;
    min-height: 25em;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 15px 0px 10px hsl(217deg 54% 10%), 0px 10px 0px 30px hsl(215deg 57% 10% / 40%);
}

h5{
    margin-top: 8px;
    margin-bottom: 8px;
    color:white;
}

p {
    margin-top: 6px;
    margin-bottom: 6px;
    color: hsl(215, 51%, 70%);
}

hr {
    border: none;
    border-top: 1px solid;
    color:hsl(215, 51%, 70%);
}

.subs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8px;
}

.subtitle {
    color: hsl(178, 100%, 50%);
}

.subtitle2 {
    color: hsl(215, 51%, 70%);
}

.author {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
}

.authors_image {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 1.8px solid white;
}

.creation {
    color: hsl(215, 51%, 70%);
}

.createdby {
    color: white;
}

.attribution{
    position: absolute;
    bottom: 4%;
    text-align: center;
    margin: auto;
}